body {
    background-color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    
}

#column-color {
    background-color: white;
    border: solid;
    border-color: black;


}

#container {
    margin-top: 20px;
    background-color: whitesmoke
}

h2 {
    background-color: cadetblue
}

.img-fluid {
    margin-top: 20px
}